{% load staticfiels i18n %}
{% load library %}
<!DOCTYPE html>
<html>
<head>
	<title>{% bloc title %}{% trans 'home' %}{% endblock title %}</title>
	<meta charset="uft-8">
 <meta http-equiv='X-UA-compatible' conten='IE=edge'>
 <meta name='viewport' content="width=device.width, initial-scale=1">
 <meta name="description" content="">
 <meta name="autor" content="">
   <link rel="stylesheet" type="text/css" href="{% static 'style/main.css' %}">
  <!-- projecto css don't modify material.css -->
  <link rel="stylesheet" type="text/css" href="{% static 'style/projecto-style.css' %}"> 
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


    <!-- Compiled and minified JavaScript -->
            

</head>
<body>

       



 
<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="">sass</a></li>
      <li><a href="">sass <span class="new badge">4</span></a></li>
      <li><a href="">sass</a></li>
    </ul>
  </div>
</nav>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  
  <footer class="para el footer grey darken-3"></footer>
  <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script> 
  <script type="text/javascript" src="{% 'materialize.min.js' %}"></script>

</body>
</html>